.head{
    background: rgb(12, 12, 12);
    font-family: 'Times New Roman', Times, serif;
    padding-right: 15px;
    padding-right: 15px;
}
.nav{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.div{
    height: 30px;
    width: 50px;
}

li{
    display: inline-block;
    list-style: none;
    color:rgb(239, 225, 225);
    font-size: 18px;
    font-weight: 500;
    margin-right: 25px;
}
